<div class="container cmain">

    <div class="row cmain">
        <div class="col-sm-12">
            <div class="tile">
                <label class="login-field-icon fui-user" for="death_time">
                    <h3>ตำแหน่งการเกิดอุบัติเหตุ</h3>
                </label>
                <div id="map">
                </div>
            </div>
        </div>
    </div>

    <p></p>
    <!-- <div>
        <label class="login-field-icon fui-user" for="death_time">
            <h3>สถิติการเกิดอุบัติเหตุ</h3>
        </label>
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <label class="login-field-icon fui-user" for="death_time">
                            รายตำบล</label>
                        <div echarts [options]="chartTam" id="chart"></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <label class="login-field-icon fui-user" for="death_time">
                            รายเดือน</label>
                        <div echarts [options]="chartMonth" id="chart"></div>
                    </div>
                </div>
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <label class="login-field-icon fui-user" for="death_time">
                            ช่วงเวลา</label>
                        <div echarts [options]="chartTime" id="chart"></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <label class="login-field-icon fui-user" for="death_time">
                            ช่วงอายุ</label>
                        <div echarts [options]="chartAge" id="chart"></div>
                    </div>
                </div>
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <label class="login-field-icon fui-user" for="death_time">
                            เพศ</label>
                        <div echarts [options]="chartSex" id="chart"></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <label class="login-field-icon fui-user" for="death_time">
                            พาหนะ</label>
                        <div echarts [options]="chartVehicle" id="chart"></div>
                    </div>
                </div>
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <label class="login-field-icon fui-user" for="death_time">
                            อุปกรณ์นิรภัย</label>
                        <div echarts [options]="chartSafty" id="chart"></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <label class="login-field-icon fui-user" for="death_time">
                            Alcohol</label>
                        <div echarts [options]="chartAlcohol" id="chart"></div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->


</div>